POSTGRES_DB=adaptaki
POSTGRES_USER=adaptaki
POSTGRES_PASSWORD=adaptaki
DB_NAME=adaptaki
DB_USER=adaptaki
DB_PASSWORD=adaptaki
DB_HOST=db
DB_PORT=5432
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=changeme-in-prod

